/*InicioSesion*/
.regi-sesion{
    background-color: $color-primario;
    width: 600px;
    height: 250%;
    margin: 30px auto 30px auto;
    padding: 50px;
    border-radius: 20px;
    @media(max-width: 720px ){
        width: 250px;
        height: 250px;
    }
}
.regi-grupo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 5px 0px;
}