.navegador{
    color:white;
    width: 100%;
    padding: 5px;    
    font-size: 25px;
    text-align:left;
    background-color: $color-secundario;
    z-index: 2;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
 .icono-menu{
    color: whitesmoke;
    font-size: 30px;
    display: none;
    @media (max-width: 576px){
        display:block;
    }
 }   
    @media(max-width: 797px ){
        width: 70%;
        height: 70px;
    }
}      

.navegador-links{
    margin: 0;
    gap: 20px;
    @media (max-width: 576px){
        position: absolute;
        width: 100px;
        background-color: whitesmoke;
        height: 100vh;1
    }
}

.navegador-link{
    font-size: medium;
    text-align: left;
    list-style: none; 
}

.navegador-link a{
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
}
