* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Inicio*/
.inicio {
  color: black;
  font-size: 20px;
}

.Titulo-inicio {
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 35px;
  letter-spacing: 0.8px;
  color: red;
  font-weight: bold;
  text-shadow: 2px;
  -webkit-text-decoration: underline solid rgb;
  text-decoration: underline solid rgb;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

.Parrafo {
  -webkit-text-decoration: double;
  text-decoration: double;
  text-align: center;
  margin: 2%;
  font-size: 28px;
}

.especialidad {
  color: black;
  text-decoration: underline;
  text-align: justify;
  text-shadow: 20px;
  font-size: 25px;
  margin: 1%;
}

.navegador {
  color: white;
  width: 100%;
  padding: 5px;
  font-size: 25px;
  text-align: left;
  background-color: black;
  z-index: 2;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
}

.navegador-links {
  display: flex;
  gap: 20px;
}

.navegador-link {
  font-size: medium;
  text-align: left;
  list-style: none;
}

.navegador-link a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
}

.img-portada {
  width: 100%;
  position: relative;
  margin-top: 70px;
}

.formulario-registro {
  color: black;
  font-size: 20px;
  text-align: left;
  background-color: lightblue;
}

.formulario-sesion {
  color: black;
  font-size: 20px;
  text-align: left;
  background-color: lightsteelblue;
}

.Titulo-tienda {
  color: rgb(189, 29, 29);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px;
  -webkit-text-decoration: underline solid rgb;
          text-decoration: underline solid rgb;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

/*Tienda*/
.Cajas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  z-index: 1;
}

.caja-producto1 {
  width: 300px;
  height: 300px;
  background-color: white;
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.Titulo-producto1 {
  font-size: 20px;
  font-weight: bold;
  position: sticky;
  height: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.precio-producto {
  width: 50%;
  height: 40px;
}

.Imagen-Producto1 {
  width: 70%;
  height: 300px;
}

.Imagen-Producto2 {
  width: 60%;
  height: 180px;
}

.Imagen-Producto3 {
  width: 60%;
  height: 160px;
}

.boton-compra {
  width: 40%;
  height: 40px;
  background-color: rgb(167, 40, 40);
  color: whitesmoke;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: -15px;
  right: 5px;
  transition: 0, 5s;
}

.boton-compra:hover {
  background-color: rgb(44, 112, 238);
  width: 35%;
}

/*Registro*/
.form {
  background-color: brown;
  width: 30%;
  height: 450px;
  margin: 30px auto 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.form-grupo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 0px;
}

.form-label {
  color: white;
}

.form-input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px 4px;
}

.form-input::-moz-placeholder {
  color: white;
}

.form-input::placeholder {
  color: white;
}

.form-input:focus {
  border-color: 3px solid white;
  outline: none;
}

.Boton-formulario {
  width: 100%;
  color: black;
  font-weight: bold;
  background-color: bisque;
  border: 0px;
  border-radius: 5px;
  padding: 2px;
}

/*InicioSesion*/
.regi-sesion {
  background-color: brown;
  width: 600px;
  height: 250%;
  margin: 30px auto 30px auto;
  padding: 50px;
  border-radius: 20px;
}

.regi-grupo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 5px 0px;
}

/*Contactos*/
.Titulo-ubi {
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 45px;
  letter-spacing: 0.8px;
  color: brown;
  font-weight: bold;
  text-shadow: 2px;
  -webkit-text-decoration: underline solid rgb;
          text-decoration: underline solid rgb;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

/*Ubicacion*/
.Img-ubi {
  width: 40%;
  margin: 30px;
  margin-left: 350px;
  border-radius: 2%;
}

.Img-Ubimaps {
  width: 10%;
  margin: 30px;
  margin-top: 250px;
}

/*instagram*/
.titulo-ig {
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 40px;
  letter-spacing: 0.8px;
  color: brown;
  font-weight: bold;
  text-shadow: 2px;
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  margin-top: 100px;
}

.img-ig {
  width: 15%;
  margin-top: 100px;
  margin-left: 850px;
}

/*Pie de pagina*/
.pie-pagina {

  padding: 20px;
  margin-top: 200px;
}

.Parrafo-final {
  text-align: center;
  font-size: 15px;
}

/*Media Query*/
@media (max-width: 797px) {
  .inicio {
    font-size: 208px;
  }
  .Cajas {
    margin: 20px;
  }
  .form {
    width: 320px;
  }
  .regi-sesion {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  .Img-ubi {
    margin-left: 200px;
  }
  .img-ig {
    margin-left: 300px;
  }
}
/*Media Query*/
@media (max-width: 797px) {
  .inicio {
    font-size: 208px;
  }
  .Cajas {
    margin: 20px;
  }
  .form {
    width: 320px;
  }
  .regi-sesion {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  .Img-ubi {
    margin-left: 200px;
  }
  .img-ig {
    margin-left: 300px;
  }
}/*# sourceMappingURL=style.css.map */